# Please fill in the following configuration items paying special attention to spaces

DRAGONCHAIN_UVN_NODE_NAME="drgn_taco_tuesday"
DRAGONCHAIN_UVN_INTERNAL_ID="04071776"
DRAGONCHAIN_UVN_ENDPOINT_URL="http://superhappy.dragonlucky.com"
DRAGONCHAIN_UVN_NODE_PORT="30000"

# Items below are SECRET and should not be shared, ever!
DRAGONCHAIN_UVN_REGISTRATION_TOKEN="8675309"
